@model IEnumerable<WebStore.Models.Employee>
<p>Employes List</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Post</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.ID</td>
                <td>@emp.FirstName</td>
                <td>@emp.Post</td>
                <td><a asp-controller="Employes" asp-action="Details" asp-route-id="@emp.ID">Employee Personal Info</a></td>
            </tr>
        }
    </tbody>
</table>