<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width-device-width" charset="utf-8"/>
    <title>Стартовая страница</title>
</head>
<body>
    <p>Hello world!</p>
    <hr />
    <a href="/Employes/Index">Employes Table</a>
    <hr />
</body>
</html>

